@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* This file is for your main application CSS */
/*light_liveview*/
meter {
  width: 200px;
  height: 50px;
}

img{
  height: 20px;
  width: 20px;
}

#servers{
  width: 700px; 
  height:400px;
  display: flex;
  border: 1px  solid;
}

.sidebar{
  width: 198px;
  height: 400px;
  border: 1px  solid;
}
.sidebar li {
  padding: 10px;
}



.main{
  width: 498px;
  height: 400px;
  border: 1px  solid;
}

.active{
  color: red;
}

.up{
  color: green;
}

.down{
  color: burlywood;
}



.volunteer {
  @apply mt-2 px-6 py-4 w-full text-lg h-20 grid grid-cols-3 items-center border border-gray-300 rounded;

   .name {
      @apply  text-indigo-600 font-bold overflow-auto;
      justify-self: start;
    }

  .phone{
    @apply flex items-center text-indigo-600 font-bold overflow-auto;
    justify-self: center;
  }

  img{
    @apply flex-shrink-0 mr-2 h-5 w-5;
  }

  button {
        @apply bg-indigo-500 text-white font-medium py-2 px-4 rounded outline-none;
      }
}

 .volunteer.out {
    button {
      @apply bg-slate-600
    }
  }

  #infinite-scroll {
  .order {


  }

  #footer {
    @apply mt-10 mb-20 text-center text-indigo-700 text-lg;

    button {
      @apply bg-transparent font-semibold py-2 px-4 border border-indigo-500 rounded;
    }

    button:hover {
      @apply bg-indigo-500 text-white border-transparent;
    }
  }
}

#myprogress{
  width: 100px;
  height: 25px;
  border-radius: 25px;
  background: #eee;
}

#cancel{
  line-height: 20px;
  font-size: 25px;
  text-align: center;
}

.drop{
  height: 200px;
  width: 500px;
  border: 1px solid blue;
}