<div>
  Your license is currently for <%= @seats %>.

  <form phx-change="update">
    <input type="range" name="seats" min="1" max="10" value="{@seats}" />
  </form>
  </div>

  <div class="amount"><%= number_to_currency(@amount) %></div>