<h1>Front Porch Light</h1>
<p>
    <meter min="0" max="100" value={@brightness} />
</p>
<button phx-click="off">
  <img src="/images/light-off.svg" alt="" >
</button>

<button phx-click="up">
  <img src="/images/up.svg" alt="" >
</button>

<button phx-click="down">
  <img src="/images/down.svg" alt="" >
</button>

<button phx-click="on">
  <img src="/images/light-on.svg" alt="" >
</button>
