<html>
  <h1>Test Component</h1>

  <TestComponent.table_1 myrows={@dhello}> 
      <:mycol :let={m} label="Name">
          <%= m.name %>
      </:mycol>

      <:mycol :let={m} label="address">
          <%= m.age %>
      </:mycol>
  </TestComponent.table_1>
</html>