<div>
  <span>
    New Orders
  </span>
  <span><%= @new_orders %></span>
</div>
<div>
  <span>sales mount</span>
  <span><%= @sales_amount %></span>
</div>
<div>
  <span>satisfaction</span>
  <span><%= @satisfaction %></span>
</div>

<div>
<button>
  Refresh
</button>
</div>