 <h1>Build A Sandbox</h1>
 <div id="sandbox">
  <.live_component module={SandboxCalculatorComponent} id={"calculator"} />


  <%= if @weight  do %>
   <.live_component module={QuoteComponent} 
      id={"quote"} material={"sand"} weight={@weight} price={@price} /> 
  <% end %>
 </div>