<h1>Top Secret</h1>

<div id="top-secret">
  <img src="images/spy.svg" alt="">
  <div class="mission">
    <h2>Your Mission</h2>    
    current_user: <%= @current_user.id %>
    <h3>007</h3>
     <p>
      (should you choose to accept it)
     </p>
     <p>
      is detailed below...
     </p>
  </div>
</div>